<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Todo</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="todoApp" class="tasks-wrapper">

    <h1 class="tasks-header">Список заданий</h1>

    <form class="add-form" v-on:submit.prevent="addTask">
      <input type="text" autocomplete="off" v-model="tasks.text" id="newTaskText" class="add-form-input" placeholder="Введите заметку">
      <input type="submit" value="Добавить" class="add-form-button" v-on:click="clearInput">
    </form>

    <ul class="task-list" id="taskList">
      <li class="task" v-for="task in tasks" v-bind:class="{ done: task.done }" v-on:change="replaceTask">
        <label class="task-checkbox">
          <input type="checkbox" v-model="task.done">
          <p class="task-text">{{ task.text }}</p>
        </label>

        <button class="task-delete" v-on:click="deleteTask(task)">&times;</button>
      </li>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
